{% extends "home.html.twig" %}

{% block title %}user update successful
{% endblock %}

{% block body %}
	<p>User information updated successfully!</p>
	
	<p> <a href="/">Click to continue</a>. </p>
{% endblock %}
