{% extends "master.html.twig" %}

{% block title %}Unsuccessful log out{% endblock %}
{% block js %}
<style>
	#stopSign{
		width: 300px;
		margin: 30px 0;
	}

	#mainBody{
		justify-content: center;
		text-align: center;
	}
</style>
{% endblock js %}

{% block content %}
	<div id="mainBody" class="container">
		<div  class="title_edit_user">You are not already logged in.</div>
		<div>
			<img id="stopSign" src="/img/stop-sign.png"/>
		</div>
	</div>

{% endblock content %}