{% extends "master.html.twig" %}

{% block title %}Rigister successful{% endblock %}
{% block js %}
<style>
	#bikeImg{
		width: 400px;
		margin: 30px 0;
	}

	#mainBody{
		justify-content: center;
		text-align: center;
	}
</style>
{% endblock js %}

{% block content %}
	<div id="mainBody" class="container">
		<div class="title_edit_user">Registeration successful. Please log in to rent your bike.</div>
		<div>
			<img id="bikeImg" src="/img/register.jpg"/>
		</div>
	</div>
{% endblock content %}