{% extends "master.html.twig" %}

{% block title %}Login
{% endblock %}
{% block content %}
<p>Welcome</p>
<p>

<input type="text" value="{{ curruser.name }}"/>
<button>Edit your account</button>
</p>
{% endblock content %}